<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://configtestservice2.scm.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/83994288-676d-4fc8-86e0-c7cb44ba3282/resourceGroups/poc-tfstate/providers/Microsoft.ContainerRegistry/registries/mainappacrbh</ContainerResourceId>
    <ContainerResourceName>mainappacrbh</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>mainappacrbh.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/83994288-676d-4fc8-86e0-c7cb44ba3282/resourceGroups/rg-demo/providers/Microsoft.Web/sites/configtestservice2</ResourceId>
    <ResourceGroup>rg-demo</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://configtestservice2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>fca2e6e5-3976-4fd7-91cd-29eb086773b3</ProjectGuid>
  </PropertyGroup>
</Project>